* {
    margin: 0;
    padding: 0;
}

body,
main {
    background-color: antiquewhite;
    font-family: 'Mooli';
}

header {
    box-shadow: 2px 2px 2px lightgray;
    z-index: 99;
    border-bottom: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: aqua;
    position: fixed;
    width: 100%;
}

header a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 21px 15px;
}

header a:hover {
    background-color: aqua;
    color: black;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;

}

ul li {
    float: left;
}

footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    margin-top: 24px;
    flex-direction: column;
    margin-bottom: 0;
}

footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

footer span p {
    font-family: 'Mooli';
    font-size: small;
    margin: 6px;
}

footer span a {
    margin-right: 6px;
}

footer span a:hover {
    scale: 1.5;
}
